@font-face {
    font-family: Pokemon;
    src: url('../fonts/pokemonsolid.woff');
}

body {
    background: url("../images/laptop_background.jpg") fixed;
    color: #ffd600;
}

.main-heading {
    font-family: Pokemon;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 140px;
    margin-left: 7.5%;
    /* identical to box height */
    color: #FFD600;
}

#reg-heading h1 {
    font-family: Pokemon;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 140px;
    margin-left: 7.5%;
    /* identical to box height */
    color: #FFD600;
}

#gen-info-section {
    color: white;
    width: 85%;
    height: 783px;
    margin-left: 7.5%;
    background: #081341;
    border-radius: 16px;
}

#gen-info {
    padding-top: 50px;
    padding-left: 100px;
    font-size: 1.25em;
}

#reg-heading {
    width: 30%;
    height: 100px;
    margin-left: 7.5%;
    background: #081341;
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

#reg-heading-content {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 50px;
}

#reg-section {
    margin-left: 7.5%;
    width: 85%;
    border-radius: 16px;
    background: #081341;
}

#reg-section-content {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 1.25rem;
}

.col {
    margin: 10px 0px;
    text-align: center;
}

div *,
div *:before,
div *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
/*Added by Mayank*/
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    #gen-info {
        padding-top: 15px;
        padding-left: 20px;
        font-size: 1.25em;
    }
    #reg-heading-content {
        display: none;
    }
    #reg-heading h1 {
        font-family: Pokemon;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        margin-left: 7.5%;
        /* identical to box height */
        color: #FFD600;
    }
    input{
        width:200px;

    }
    #reg-section {
        width: 95%;
        border-radius: 16px;
        background: #081341;
    }
    .row
    {
        display: flex;
        flex-direction: column;
    }
    .row label
    {
        margin-left: 2px;
    }
    #reg-section-content {
        padding-left: -100px;
        padding-top: 25px;
        font-size: 1.25rem;
    }
    .main-heading {
        font-family: Pokemon;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 140px;
        margin-left: 7.5%;
        /* identical to box height */
        color: #FFD600;
    }
    #gen-info-section {
        color: white;
        width: 85%;
        height: 500px;
        margin-left: 7.5%;
        background: #081341;
        border-radius: 16px;
    }
  }
/*Added by Mayank*/