<!DOCTYPE html>
<html>
    <head>
        <title>Sarcasm base</title>
        <style>
            body
            {
                background-image:url("bg-01\ 1.jpg");
                position: absolute;
width: 321px;
height: 67px;
left: 195px;
top: 1295px;

font-family: Pokemon Solid;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 67px;
text-align: center;

color: #FFD600;
            }
            
        </style>
    </head>
    <body>
        Register Now
    </body>
    </html>